body {
    background-color: #26212c;
    text-align: center;
    margin: 0;
    color: black;
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* border: 8px solid rgb(48, 99, 240); */
    box-sizing: border-box;
    min-height: 100vh
}

.engraved_text {
    font-family: "Century Gothic", "Helvetica", sans-serif;
    text-align: center;
    color: #9586af;
    font-weight: bold;
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 60px;
    /* border: 8px solid red; */
    flex-grow: .5;
    text-shadow: -2px -1px 1.5px #d0b7eb, 2.5px 1.25px 1px #533e6b
}

#music_section {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-evenly;
    /* border: 8px solid rgb(255, 149, 0); */
    flex-grow: 3;
    flex-wrap: wrap-reverse;
}

#music_section > div {
    margin-bottom: 28px;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 8px solid rgb(0, 255, 26); */
    flex-grow: 1;
    flex-wrap: wrap;
}

#song_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 8px solid rgb(214, 207, 61); */
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
}

#genre_select {
    height: 100%;
    flex-grow: 1;
    /* border: 8px solid rgb(168, 218, 198); */
    box-sizing: border-box;
}

#genre_dropdown {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8px;
}

#genre_dropdown_content {
  background-color: #6cbce4;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 234px;
  height: 24.25vh;
  overflow: scroll;
  margin: 0px !important;
  border-color: #3f636f;
  box-shadow: 0px 0px 80px 5px #2754a8;
  border-radius: 3px;
}

#genre_select_input {
    background-color: #9586af;
    color: #26212c;
    width: 230px;
    font-size: 28px;
    font-family: "Courier New";
    text-align: center;
    border-radius: 6px;
    border-style: inset;
    border-width: 2px;
    border-color: #8b7f96;
    box-shadow: 0px 0px 10px 5px #8261aa;
}

#genre_select_input:hover {
    background-color: #4694bb;
    border-color: #3f636f;
    box-shadow: 0px 0px 10px 5px #214893;
    cursor: pointer;
  }

.genre_item {
    /* text-decoration: none; */
    font-size: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    display: block;
    border: .5px solid #4694bb;
}

.genre_item_on_hover {
    font-size: 25px;
    padding-top: 7px;
    padding-bottom: 7px;
    border: .5px solid #897ba2;
    background-color: #9586af;
    box-shadow: 20px 2px 6px #897ba2, -20px -2px 6px #897ba2;
    box-shadow: 20px 2px 6px #897ba2, 0px 4px 6px #897ba2, -20px 0px 6px #897ba2, 0px -4px 6px #897ba2;
    cursor: pointer;
}

#song_display {
    flex-grow: 2;
    width: 450px;
    height: 139.057689px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #6cbce4;
    box-shadow: 0px 0px 32px 5px #2754a8;
    margin-bottom: 7px;
}

#song_display div {
    height: 100%;
}

#song_display_text {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: start;
    padding-left: 42px;
    padding-right: 25px;
}

#song_display_text p {
    font-size: 13px;
    font-family: "Courier New";
    padding: 0px;
    margin: 0px
}

#song_display img {
    height: 100%;
}

#audio_panel {
    flex-grow: 1;
    margin: 18px 0px 18px 0px
}

#new_song_button {
    flex-grow: 1;
    background-color: #9586af;
    font-size: 30px;
    font-family: "Courier New";
    text-align: center;
    border-radius: 7px;
    border-style: inset;
    border-width: 3px;
    border-color: #8b7f96;
    box-shadow: 0px 0px 10px 5px #8261aa;
    /* box-shadow: 0px 0px 20px 10px #8261aa; */
    padding: 10px 22px 10px 22px;
    cursor: pointer
}

#new_song_button:active {
    background-color: #4694bb;
    box-shadow: 0px 0px 10px 5px #214893;
    border-color: #3f636f;
}

#new_song_button button {
    font-size: 16px;
    font-family: "Courier New";
}

#chart {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /* border: 8px solid rgb(142, 193, 255); */
    box-sizing: border-box;
}

.slider_switch_and_name {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 8px solid rgb(155, 61, 214); */
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    width: 200px;
}

.filter_name {
    flex-grow: 1;
    font-size: calc(1.5vw + 10px);
    margin: 0;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-shadow: -1px -.75px 1px #d0b7eb, 1px .75px .5px #533e6b
}

.slider {
    flex-grow: 2;
}

.switch {
    flex-grow: 1;
    scale: .475;
    /* border: 8px solid rgb(123, 112, 112);
    box-sizing: border-box; */
    margin-top: -45px;
    margin-bottom: -25px;
}

