body {
    margin: 0
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 8px solid rgb(48, 99, 240);
    box-sizing: border-box;
    height: 100vh
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 8px solid red;
    flex-grow: 1;
}

#music_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 8px solid rgb(255, 149, 0);
    background-color: pink;
    flex-grow: 3;
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 8px solid rgb(0, 255, 26);
    flex-grow: 2;
}

#song_section {
    display: flex;
    flex-direction: column;
    border: 8px solid rgb(214, 207, 61);
    box-sizing: border-box;
    height: 100%
}

.slider_and_switch {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 8px solid rgb(155, 61, 214);
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
}

.filter_name {
    flex-grow: 1;
    margin: 0
}

.slider {
    flex-grow: 3;
}

.switch {
    flex-grow: 1;
}