body {
    margin: 0
}

#app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 8px solid rgb(48, 99, 240);
    box-sizing: border-box;
    height: 100vh
}

#header {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 8px solid red;
    flex-grow: 1;
}

#music_section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border: 8px solid rgb(255, 149, 0);
    flex-grow: 3;
    /* do flex wrap */
}

#filters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 8px solid rgb(0, 255, 26);
    flex-grow: 2;
}

#song_section {
    display: flex;
    flex-direction: column;
    border: 8px solid rgb(214, 207, 61);
    box-sizing: border-box;
    height: 100%;
    flex-grow: 1;
}

#genre_select {
    height: 100%;
    flex-grow: 1;
}

#genre_dropdown_content {
  background-color: #6cbce4;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  width: 200px;
  height: 25vh;
  overflow: scroll;
  margin: 0px !important;
  border-color: #3f636f;
  box-shadow: 0px 0px 80px 5px #2754a8;
  border-radius: 6px;
}

#genre_select_input {
    background-color: #9586af;
    color: #26212c;
    width: 227px;
    font-size: 28px;
    font-family: "Courier New";
    text-align: center;
    border-radius: 6px;
    border-style: inset;
    border-width: 2px;
    border-color: #8b7f96;
    box-shadow: 0px 0px 10px 5px #8261aa;
}

#genre_select_input:hover {
    background-color: #4694bb;
    border-color: #3f636f;
    box-shadow: 0px 0px 10px 5px #214893;
    cursor: pointer;
  }

.genre_item {
    /* text-decoration: none; */
    font-size: 25px;
    display: block;
    border: .5px solid #4694bb;
}

.genre_item_on_hover {
    font-size: 25px;
    border: .5px solid #897ba2;
    background-color: #9586af;
    box-shadow: 7px 0px 4px #897ba2, 0px 7px 4px #897ba2, -7px 0px 4px #897ba2, 0px -7px 4px #897ba2;
    cursor: pointer;
}

#song_display {
    flex-grow: 2;
}

#audio_panel {
    flex-grow: 1;
}

#new_song_button {
    flex-grow: 1;

}

#chart {
    height: 100%;
    flex-grow: 1;
}

.slider_and_switch {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 8px solid rgb(155, 61, 214);
    box-sizing: border-box;
    flex-grow: 1;
    text-align: center;
    /* have min width and then do flex wrap */
}

.filter_name {
    flex-grow: 1;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.slider {
    flex-grow: 3;
}

.switch {
    flex-grow: 1;
}