#loading_spinner {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    #loading_spinner {
      animation: spin infinite 5s linear;
    }
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#spinner_display {
  display: flex;
  justify-content: center !important;
}
  